/* body {
    margin: 0;
    padding: 0;
} */

html {
    font-family: sans-serif;
    font-size: 1.2rem;
}

body {
    background-color: #3db683; /* optional, header color */
}

header img {
    width: 350px;
}

header h1 {
    text-align: center;
}

/* header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
}

header img {
    max-width: 350px;
    height: auto;
} */
