/* body {
    margin: 0;
    padding: 0;
} */

html {
    font-family: sans-serif;
    font-size: 1.2rem;
}

body {
    background-color: #fefefe; /* optional, header color */
    margin: 0;
    padding: 0;
}

main {
    margin: 1rem;
}

header img {
    width: 350px;
}

header h1 {
    text-align: center;
}

header img {
    width: 100px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar-section {
    background-color: blue;
}

.make-inline {
    display: inline-block;
}
.make-block {
    display: block;
}

.main-logo {
    margin: 0 auto;
}

.nav-button-section {
    background-color: pink;
    width: 100%;
    margin: 0 auto;
}

.nav-button {
    color: white;
    background-color: brown;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
}

.screenshot {
    /* width: 400px; */
    display: block;
    height: auto;
    max-width: 100%;
}

.meal-inFood_plan {
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    display: block;
    width: 100%;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.25rem;
}

footer {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}

footer p {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 450px) {
    .meal-inFood_plan {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1080px) {
    .meal-inFood_plan {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }
    main {
        width: 85%;
        margin: 0 auto;
    }
}
